# SQL Lab

Congratulations! We've been hired as analysts at Classic Model Car Company, and you've been handed keys to the Data Warehouse.  They want you to hit the ground running with analysis! We have lots of questions to answer.  First, let's connect to the database.

1. Connect via MySQL Credentials
  - hostname: `hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com`
  - username: `hbs-student`
  - password: (distributed via slack)
  - port: 3306 (default)
  - database: `classicmodels`

2. Take a moment to study the schema, noting the keys. Browse the data in each relation if you wish. Answer the following queries. I've given you the expected results below each query.

3. Answer the following questions! Do them in your MySQL client first, most likely, then bring them into Pandas here in this notebook.

In [1]:
import pandas as pd
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')

In [6]:
test = pd.read_sql_query('select known_for_titles from imdb_name_basics', con)

In [8]:
test.to_csv('known_for_titles_imdb.csv', index=False)

1. List all customer names and their addresses who don't have a specified sales rep. Order by customer name.

2. List the names of all customers that have a creditLimit between 100,000 and 200,000 inclusively. Order by customer name.


3. List all employees who have the initials of M.P. or P.M., by name. Order by last name.

4. List all the products' productNames purchased by Mini Wheels Co. Order the list by product line.

5. List the customers by customerName whose contact person shares either a first name or last name with any of the company's employees Order by customerName

7. List the customers (by name) that are based in the country which is first in the lexicographic order of customer countries. Order by customerName

8. Identify the product(s) by productCode and productName that the company has the least stock of. Order by product code.

9. Identify the offices (by city) that have the least employees and the most employees (answer should include city, numEmps)

In [5]:
pd.read_sql_query('''
SELECT city, count(city) as employeeCount
FROM employees
JOIN offices USING (officeCode)
GROUP BY officeCode, city

HAVING employeeCount in (
    SELECT max(employeeCount)
    FROM (
        SELECT officeCode, count(*) as employeeCount
        FROM employees
        GROUP BY officeCode) AS max_count
    UNION
    SELECT min(employeeCount)
    FROM (
        SELECT officeCode, count(*) as employeeCount
        FROM employees
        GROUP BY officeCode) AS min_count
        )
''', con)

            city  employeeCount
0  San Francisco              6
1         Boston              2
2            NYC              2
3          Tokyo              2
4         London              2

10. For all Sales Reps list their names (first and last) and the name of the office they work out of and the number of clients they represent. Order by reverse order of numClients

11. List the customer(s) and their total payments (answer should include customerNumber, customerName, totalPayment where totalPayment is the total amount of dollars the customer has paid). Order by totalPayment.

12. List the product number, product name, and customer name such that the customer has never ordered that product. Order by customerName, productCode.

13. List the profit per product that the company would make if it were able to sell all of that product at MSRP (answer should include productName, profit). Order by profit.

14. List the average order size for each customer (answer should include customerName, avgQuantity) Order by customer name.