# SQL Lab

Congratulations! We've been hired as analysts at Classic Model Car Company, and you've been handed keys to the Data Warehouse.  They want you to hit the ground running with analysis! We have lots of questions to answer.  First, let's connect to the database.

1. Connect via MySQL Credentials
  - hostname: `hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com`
  - username: `hbs-student`
  - password: (distributed via slack)
  - port: 3306 (default)
  - database: `classicmodels`

2. Take a moment to study the schema, noting the keys. Browse the data in each relation if you wish. Answer the following queries. I've given you the expected results below each query.

3. Answer the following questions! Do them in your MySQL client first, most likely, then bring them into Pandas here in this notebook.

In [4]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/3f/72/abf04bb96a3feaf79587daf158ad7ee1f88f202ff4e90b5e8c7f67f74556/mysql_connector_python-8.0.20-cp37-cp37m-macosx_10_14_x86_64.whl (4.8MB)
     |████████████████████████████████| 4.8MB 2.2MB/s eta 0:00:01
Requirement already satisfied: protobuf>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.11.3)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (41.4.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.20

In [9]:
import pandas as pd
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='classicmodels')

1. List all customer names and their addresses who don't have a specified sales rep. Order by customer name.

In [10]:
pd.read_sql_query("""
-- List all customer names and their addresses who don't have a specified sales rep. Order by customer name. 
SELECT contactLastName,
       contactFirstName,
       addressLine1,
       addressLine2,
       city,
       state,
       postalCode,
       country
FROM classicmodels.customers
WHERE salesRepEmployeeNumber IS NULL
ORDER BY 1;
""", con)

,contactLastName,contactFirstName,addressLine1,addressLine2,city,state,postalCode,country
0,"Altagar,G M",Raanan,3 Hagalim Blv.,None,Herzlia,None,47625,Israel
1,Andersen,Mel,Obere Str. 57,None,Berlin,None,12209,Germany
2,Anton,Carmen,"c/ Gobelas, 19-1 Urb. La Florida",None,Madrid,None,28023,Spain
3,Camino,Alejandra,"Gran Vía, 1",None,Madrid,None,28001,Spain
4,Cramer,Philip,Maubelstr. 90,None,Brandenburg,None,14776,Germany
5,de Castro,Isabel,Estrada da saúde n. 58,None,Lisboa,None,1756,Portugal
6,Feuer,Alexander,Heerstr. 22,None,Leipzig,None,04179,Germany
7,Franken,Peter,Berliner Platz 43,None,München,None,80805,Germany
8,Harrison,Ed,Rte des Arsenaux 41,None,Fribourg,None,1700,Switzerland
9,Josephs,Karin,Luisenstr. 48,None,Münster,None,44087,Germany
10,Kloss,Horst,Taucherstraße 10,None,Cunewalde,None,01307,Germany
11,Kuger,Armand,1250 Pretorius Street,None,Hatfield,Pretoria,0028,South Africa
12,McKenna,Patricia,8 Johnstown Road,None,Cork,Co. Cork,None,Ireland
13,Messner,Renate,Magazinweg 7,None,Frankfurt,None,60528,Germany
14,Moos,Hanna,Forsterstr. 57,None,Mannheim,None,68306,Germany
15,Müller,Rita,Adenauerallee 900,None,Stuttgart,None,70563,Germany
16,Ottlieb,Sven,Walserweg 21,None,Aachen,None,52066,Germany
17,Piestrzeniewicz,Zbyszek,ul. Filtrowa 68,None,Warszawa,None,01-012,Poland
18,Rodriguez,Lino,Jardim das rosas n. 32,None,Lisboa,None,1675,Portugal
19,Schuyler,Bradley,Kingsfordweg 151,None,Amsterdam,None,1043 GR,Netherlands
20,Semenov,Alexander,2 Pobedy Square,None,Saint Petersburg,None,196143,Russia
21,Walker,Brydey,Suntec Tower Three,8 Temasek,Singapore,None,038988,Singapore

2. List the names of all customers that have a creditLimit between 100,000 and 200,000 inclusively. Order by customer name.


3. List all employees who have the initials of M.P. or P.M., by name. Order by last name.

4. List all the products' productNames purchased by Mini Wheels Co. Order the list by product line.

5. List the customers by customerName whose contact person shares either a first name or last name with any of the company's employees Order by customerName

7. List the customers (by name) that are based in the country which is first in the lexicographic order of customer countries. Order by customerName

8. Identify the product(s) by productCode and productName that the company has the least stock of. Order by product code.

9. Identify the offices (by city) that have the least employees and the most employees (answer should include city, numEmps)

10. For all Sales Reps list their names (first and last) and the name of the office they work out of and the number of clients they represent. Order by reverse order of numClients

11. List the customer(s) and their total payments (answer should include customerNumber, customerName, totalPayment where totalPayment is the total amount of dollars the customer has paid). Order by totalPayment.

12. List the product number, product name, and customer name such that the customer has never ordered that product. Order by customerName, productCode.

13. List the profit per product that the company would make if it were able to sell all of that product at MSRP (answer should include productName, profit). Order by profit.

14. List the average order size for each customer (answer should include customerName, avgQuantity) Order by customer name.